@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
  scroll-behavior: smooth;
}
.a11y {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  clip-path: inset(50%);
}

body {
    font-family: 'SpoqaHanSansNeo-Regular';
}